<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
    <select>
        <option value="eat">do an</option>
        <option value="drink">do uong</option>
         
    </select> <br>
            
    <input type="text" placeholder="Tiêu đề" name="title"> <br>

    <input type="text"placeholder="Mô tả"name="description"> <br>

    <input type="text" placeholder="Link" name="Link"><br>


    <button>Xác nhận</button>

    </select>  
    </form>

</body>
</html>






<select>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="vw">VW</option>
    <option value="audi" selected>Audi</option>
</select>