<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">

    <b>Model</b> <input type="text" placeholder="e.g. honda" name="model">  <br>
    
    <b>Daily fee</b> <input type="text"placeholder="100000"name= "fee"> <br>

    <b>Image</b> <input type="text"placeholder="e.g. https://hondaxemay"name="image"> <br>

    <b>Year</b> <input type="text"placeholder="e.g. 2013"name="year"> <br>

    <button>Submit</button>
    

    </form>
    
</body>
</html>